<h1>Trip Packing Lists</h1>

<% if user_signed_in? %>
  <fieldset>
    <legend>List of Trips</legend>
    <div id="trips"></div>
  </fieldset>

  <%= button_to 'Add Trip', new_trip_path, method: :get %>

  <br></br>

  <div id="categories"></div>

<% end %>

<br>

 <% if !user_signed_in? %>
  <h3>User not logged in</h3>
<% end %>
<br>
