<fieldset>
  <legend><%= @category.name %> Trips</legend>
  <ul>

    <% current_user.trips_in_category(@category).each do |trip| %>
    <div id="category_trips">
      <li><%= link_to trip.title+' - '+trip.year.to_s , trip_path(trip) %></li>
    <% end %>
    </div>
  </ul>
</fieldset>

<br>

<div id="categories_list"></div>

<br>

<%= button_to 'Add Trip', new_trip_path, method: :get %>

<br>

<script type="text/javascript" charset="utf-8">
  $(function () {

    $.get("/categories", function(response) {
      var categories = response;
      var categoriesList = '<fieldset><legend>Trips by Category</legend><ul>';
      categories.forEach(function(category) {
        categoriesList += '<li><a href="#" class="category-selector" data-id="' + category.id + '">' + category.name + '</a></li>'
      });
      categoriesList+='</ul></fieldset>'
      $("#categories_list").html(categoriesList);
    });
    addEventListener()
  });

  function addEventListener() {
    $(function(){
      $("div#categories_list").on("click", "ul li a.category-selector", function(e) {
          e.preventDefault();
        debugger
        // var Id = parseInt($(".js-next").attr("data-id")) + 1;
        // $.get("/trips/" + nextId + ".json", function(data) {
        //   $(".authorName").text(data["author"]["name"]);
        //   $(".postTitle").text(data["title"]);
        //   $(".postBody").text(data["description"]);
        //   // re-set the id to current on the link
        //   $(".js-next").attr("data-id", data["id"]);
        // });
      });
    });
  }
</script>
