<%# List of Trips in given Category %>

<fieldset>
  <legend><%= @category.name %> Trips</legend>
  <ul>
    <% current_user.trips_in_category(@category).each do |trip| %>
    <div id="category_trips">
      <li><%= link_to trip.title+' - '+trip.year.to_s , trip_path(trip) %></li>
    <% end %>
    </div>
  </ul>
</fieldset>

<br>

<%# Hook for List of Categories %>
<div id="categories"></div>

<br>

<%= button_to 'Add Trip', new_trip_path, method: :get %>

<br>
