<fieldset>
  <legend><%= @category.name %> Trips</legend>
  <ul>
    <% current_user.trips_in_category(@category).each do |trip| %>
    <div id="category_trips">
      <li><%= link_to trip.title+' - '+trip.year.to_s , trip_path(trip) %></li>
    <% end %>
    </div>
  </ul>
</fieldset>

<br>

<div id="categories_list"></div>

<br>

<%= button_to 'Add Trip', new_trip_path, method: :get %>

<br>
